STREAM_MODE=websocket
RPC_WS_ENDPOINT=wss://api.mainnet-beta.solana.com
GRPC_ENDPOINT=
X_TOKEN=
DATABASE_URL=postgresql://indexer:indexer@localhost:5432/indexer
API_PORT=3000
CONSOLE_LOG=true
BENCH_LOG=benchmark.log
